/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4, button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2, h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button, textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Remove button styling */
button {
  all: unset;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;

  --primary: white;
  --secondary: lightgray;
  --accent: black;
  --background: white;
  --text: black;
  
  --font: 'Roboto', sans-serif;
  --font-size: 1rem;
  --font-weight: 400;

  /* border: red 1px solid; */
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#message {
  margin: 1rem 0;
  text-align: center;
}

.playground {
  display: flex;
  flex-direction: row;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info h1 {
  margin-bottom: 1rem;
}

.score {
  font-size: 4rem;
}

menu {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.item {
  width: 100%;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;

  & img {
    max-width: 150px;
  }
}

.option:hover {
  border: 1px solid var(--accent);

  & img {
    transform: scale(1.1);
  }
}

.computer .item {
  transform: scaleX(-1);
}

.restart {
  margin-right: auto;
}

#result {
  display: none;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#result h1 {
  margin-bottom: 1rem;
}

#result button {
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  border: 2px solid var(--accent);
  background-color: var(--primary);
}
